<% @page_title = 'crushlogic | tank detail' %>
<div id='title_bar'>
	<span id='title_header'>8ZITEL-1</span>
	<span id='title_sub'>Tank 1101</span>
	<span id='inner_cell'>Crush Analysis: &deg;B<p>25.5</p>TA<p>6.55</p>pH<p>3.64</p>Malic<p>2.4</p>NH<sub>3</sub><p>126</p></span>
</div>
<div id='crush_details'>
	<table>
		<tr>
			<th>Date</th>
			<th>Brix</th>
			<th>Temp</th>
			<th>TA</th>
			<th>pH</th>
			<th>Malic</th>
			<th>Alc</th>
			<th>RS</th>
		</tr>
		<% iteration_count = 0 -%>
		<% 10.times do |d| -%>
			<tr>
				<td><%= (Time.now.to_date + iteration_count).strftime("%m/%d/%y") %></td>
				<td><%= @brix_array[iteration_count] %></td>
				<td><%= (@temp_values[iteration_count] / 2) + 50 %></td>
			</tr>
			<% iteration_count += 1 -%>
		<% end -%>
	</table>
</div>
<div id='ferm_graph'>
<%= image_tag @chart %>
</div>
<div id='daily_details'>
</div>