html { background: #575757; padding-bottom: 60px;} /*8F8F8F*/
#heroku_props { position: fixed; bottom: 0; right: 0; padding-right: 20px; }
body { margin: 0 20px; font-family: arial, helvetica, sans-serif;}

#banner { 	
	height: 60px; 
	/*margin: 0 20px 0 20px;*/
	border-left: 2px solid #999999;
	border-right: 2px solid #999999;
	padding-top: 5px; 
	background: #538925; /*80A17D*/
}

#beta {position: absolute; top: 0; left: 0; }

#logo { font-size: 3em; margin: 0 25px 0 20px; float: left; color: #0A1004; }
#logic { color: #FFF; } /*D6E1D5*/

#login { position: absolute; top: 0; right: 0; padding: 5px 30px 0 0; color: #22380F; font-size: 0.9em;}
#login a { color: #D6E1D5; }
#login ul li { display: inline; }

#sub_menu { font-weight: bold; }
#sub_menu ul li  { display: inline; font-size: 1.2em; padding-right: 0.75em; }
#sub_menu a { font-weight : normal; color: #538925; }
#sub_menu a:hover { border-bottom: 2px solid; }
#sub_menu input { margin: 0; }

a { text-decoration: none; color: #2D692D; } /* #2D692D */
#menu { padding-top: 36px; /*width: 100px;*/ font-size: 0.85em; }
ul#nav, ul#nav li { list-style-type: none; margin: 0; padding: 0; }
ul#nav { margin-left: 100px; width: 650px; }
ul#nav li.activelink a { color: #0A1004; } /*394D37*/
ul#nav li { float: left; margin-right: 2px; text-align: center; }
ul#nav a { float: left; width: 6em; padding: 4px 0; background: #D6E1D5; text-decoration: none; color: #80A17D; }
ul#nav a:hover { background: #22380F; color: #D6E1D5; } /*4F6A4D*/
ul#nav li.activelink a, ul#nav li.activelink a:hover { background: #FFF; }

#yield { 
	background: white; 
	border: 2px solid #999999;
	border-top: none;
	font-size: 0.9em;
	padding: 5px 20px 60px 20px;
	}

.kinetic { margin: 0 20px 0 20px; font-size: 0.9em; padding: 5px;}
.kinetic input { margin: 10px 2px 2px 0; }
.kinetics_container { border-bottom: 1px solid #8A8A8A; margin-bottom: 5px; padding-bottom: 5px;}

table { border-collapse: collapse; }
table a:hover { /*text-decoration: underline;*/ font-weight: bold; } /*229100 FOR COLOR */
table tr.hover:hover { background: #FBEC5D; } /*FFFF65*/
table th { width: 60px; vertical-align: bottom; text-align: center; border-bottom: 1px solid black; }
table th.no_border { border-bottom: none;}
table th.dashed_border { border-bottom: 1px dashed #575757; font-size: 0.85em; color: #575757; }
table th.thin_col { width: 20px; }
table th.right { border-right: 1px dashed #575757; }
table td { padding: 3px 0 0 0; text-align: center; }

#crush_details { float: left; margin-right: 80px; text-align: center; }
#crush_details table { margin-right: auto; margin-left: auto; }
#crush_details table td { padding: 2px 5px; }
td.left { text-align: left; }
td.right { text-align: right; }
#title_bar { padding: 5px 0 5px 10px; background: #8A8A8A; margin: 10px 0 15px 0; }
#title_container { padding-right: 300px; }
#title_header { font-size: 2em; color: #FFF; font-weight: bold; vertical-align: middle; }
#title_sub a { color: #D6E1D5; }
#title_sub a:hover { color: white; }
.strong_header_link { color: white; font-weight: bold; font-size: 1.1em; }
#title_sub { font-size: 1.1em; color: #D6E1D5; padding-left: 10px; vertical-align: middle; }
#inner_cell { margin: 0 0 0 400px; padding: 0; width: 200px; color: #D6E1D5; font-size: 1.2em; vertical-align: middle; font-weight: lighter; } 
#inner_cell p { margin: 0; padding: 0 10px 0 3px; display: inline; font-weight: bold; color: white; }
#inner_cell sub { font-size: 0.7em; bottom: 0.5em; }
#ferm_graph { float: left; margin-top: 0px; }
#daily_details { clear: both; }
